.ban-wrapper {
    /*text-align: center !important;*/
    padding-top: 100px;
    /*background: #ffffff;*/
    /*padding: 30px;*/
    /*min-height: 720px;*/
}

.ban-container {
    text-align: center !important;
    background: #ffffff;
    margin: 0 auto;
    opacity: 0.9;
    padding: 120px;
    width: 50%;
}

h1 {
    font: bold 70px Helvetica;
    text-align: center;
}

h2 {
    font: bold 45px Helvetica;
    text-align: center;
}