.booking-item-wrapper {
    background-color: #ffffff;
    padding: 5px;
    margin: 5px 0px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.booking-item-wrapper .row {
    margin: 0px;
}

.booking-item-wrapper .col {
    padding: 0px;
}

.booking-item-wrapper p {
    margin: 5px;
}

.booking-item-title-wrapper {
    text-align: center;
    font-weight: bold;
}

.place-img-wrapper {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    padding-right: 10px;
}

.padding-left {
    marign: 5px!important;
}