.upload-container .fileContainer {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.upload-btn {
    margin: 0 30px;
    padding: 0 2rem !important;
    border-radius: 0 !important;
}

.gallery-container {
    border: 1px solid #ddd;
    overflow: auto;
}
